<div class="example-container">
  <div [hidden]="submitted">
  <form #validationForm="ngForm" (ngSubmit)="onSubmit()" >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Validação de Cadastro</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Matrícula" pattern="[0-9]+" maxlength="20" [(ngModel)]="matricula" required #cpfForm="ngModel" name="matricula">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button type="submit" [disabled]="!validationForm.form.valid">VALIDAR</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
</div>
<div [hidden]="!submitted">
    <mat-card>
      <mat-card-content>
        <div class="alerta sucesso">
          Seu cadastro foi validado com sucesso. Acesse 
          <a href="http://meusindjud.sindjudpe.org.br">Meu Sindjudpe</a> com seu login e senha, 
          para ter acesso aos conteúdos das assembléias.
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div [hidden]="!msgError">
    <mat-card>
      <mat-card-content>
        <div class="alerta error">{{ msgError }}</div>
      </mat-card-content>
    </mat-card>
  </div>