.radio-label{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: normal;
  vertical-align: middle;
  padding: 5px;
}

.checkbox-label{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: normal;
  vertical-align: middle;
  padding: 5px;
}

.dadosPessoais mat-form-field {
  width: 100%;
}

mat-card-title{
  font-weight: bold;
}

mat-card-content{
  margin: 0 8px;
}

mat-form-field .address{
  position: relative;
}

.error{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ebccd1;
  color: #a94442;
}

.actionsPessoais{
  flex-direction: row; 
  box-sizing: border-box; 
  display: flex; 
  max-height: 100%; 
  align-content: center; 
  align-items: center; 
  justify-content: space-between;
}

.actionsFuncionais{
  flex-direction: row; 
  box-sizing: border-box; 
  display: flex; 
  max-height: 100%; 
  align-content: center; 
  align-items: center; 
  justify-content: space-between;
}