<div class="example-container">
  <mat-card>
    <mat-form-field>
      <input matInput maxlength="10" placeholder="Nome">
    </mat-form-field>
    <mat-form-field>
      <input matInput class="example-right-align" placeholder="Email institucional">
      <span matSuffix>@tjpe.jus.br</span>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email secundário">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Data de Nascimento">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sexo">
    </mat-form-field>
  </mat-card>
</div>