.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  mat-card {
    max-width: 60%;
    margin: 2em auto;
    text-align: left;
  }

  mat-form-field {
    width: 80%;
  }

  mat-card-title{
    font-weight: bold;
  }

  mat-card-content{
    margin: 0 8px;
  }

  .error{
    padding: 12px;
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
  }